<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>@$title</title>
	<link href="@$root/res/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="content">
		<h1>@$title</h1>
		<div>@$message</div>
		<br />
		<br />
		<div><a href="@$_SERVER['PHP_SELF']">&lt;&lt; Back</a></div>
		<br />
		generated in @number_format(microtime(true) - QTIME_INIT, 5) msec.
	</div>
</body>
</html>