<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>@$title</title>
</head>
<body>
	Hello @$longname
	<br />
	<br />
	<img src="@$image" border="0" />
</body>
</html>