<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>@$title</title>
	<link href="@$root/res/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="content">
		<h1>@$title</h1>
		<form method="POST" action="@$_SERVER['PHP_SELF']?home/login">
			<table>
				<tr>
					<th>Username:</th>
					<td><input type="text" name="name" /></td>
				</tr>
				<tr>
					<th>Password:</th>
					<td><input type="password" name="password" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Login" /></td>
				</tr>
			</table>
		</form>
		<br />
		generated in @number_format(microtime(true) - QTIME_INIT, 5) msec.
	</div>
</body>
</html>