html, body {
    height: 100%;
}

body {
    background: #FFFFFF;
}

body.login {
    background: #FBFBFB url('scabbia/panel/images/hld.jpg') 0 0 repeat-x;
}

body.narrow .wrapper {
    width: 100%;
}

body.narrow .wrapper .inner {
    margin: 0 auto 0 auto;
    width: 960px;
}

body.stretch .wrapper {
    width: 100%;
}

body.stretch .wrapper .inner {
}

#page {
    color: #666666;

    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;

    margin: 0 auto -50px;
}


/* LOGIN PAGE */

.login .block {
    width: 450px;
    margin: 100px auto 0 auto;
    clear: both;
    border: 1px solid #CCCCCC;
    border-top-width: 0;
    border-radius: 8px 8px 0 0;
}

.login .block .block_head {
    height: 54px;
    line-height: 54px;
    background: url('scabbia/panel/images/bhead.gif') 0 0 repeat-x;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.login .block .block_head h2 {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #555555;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-align: center;
}

.login .block .block_content {
    overflow: hidden;
    background: #FFFFFF;
    padding: 10px 0 0 0;
}

.login .block .block_content .form-actions {
    margin-bottom: 0 !important;
}

.login .block form {
    margin: 0;
}

.indent {
    padding: 0 30px 0 30px;
}

/* FORMS */
form textarea.cleditor {
    width: 98%;
    height: 140px;
    padding: 5px;
    background: #FEFEFE;
    border: 1px solid #BBBBBB;
    font-size: 14px;
    color: #333333;
    border-radius: 3px;
    outline: none;
}

form input.input_varchar, form input.input_uuid, form input.input_datetime, form .input_enum, form .input_file {
    display: block;
}


/* MISC
----------------------------------------------------------*/
.fullWidth {
    width: 100%;
}

.halfWidth {
    width: 50%;
}

.valignTop td, .valignTop th {
    vertical-align: top;
}

.padding4px {
    padding: 4px;
}

/* Theme specific
----------------------------------------------------------*/
.containerBox {
    margin: 0 20px 0 20px;
}

.display {
    border-collapse: separate;
    border-spacing: 1px;
}

.bgCount {
    background-color: #2B485C;
    color: #FFFFFF;
    padding: 0 6px 0 6px;
    border-radius: 2px;
}

.bgSpacer {
    margin: 0 0 0 20px;
}

.bgLink {
    padding: 2px 6px 2px 6px;
    color: inherit;
    text-decoration: none;
}

.bgLink:hover {
    background-color: #2B485C;
    border-radius: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

.bgLink:active, .bgLink:focus {
    color: #FFFFFF;
    outline: thin dotted #333333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    text-decoration: none;
}

.fit {
    width: 100%;
}

#pageTop {
    width: 100%;
    font-size: 13px;
}

#pageTopNavbar {
    margin-bottom: 0;
}

#pageTopNavbar .navbar-inner {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

#pageTopHead {
    background: #182844;
    color: #6ABAFC;
    border-bottom: 1px solid #65A5D1;
}

#pageTopLogo {
    background-color: #176093;
    color: #FFFFFF;
    padding: 5px 0 5px 0;
}

#pageTopMenu {
    background: -webkit-linear-gradient(top, #FFFFFF, #C0C0C0);
    background: linear-gradient(#FFFFFF, #C0C0C0);
}

#pageMiddle {
    width: 100%;
    background-color: #FFFFFF;
    /* border-top: 1px solid #A0A0A0; */
    min-height: 500px;
}

#pageMiddle table.tablesorter tr td {
    padding: 8px 4px 8px 4px;
}

#pageMiddle table.tablesorter thead tr .header {
    min-width: 65px;
}

#pageMiddleTable {
    table-layout: fixed;
    width: 100%;
    min-height: 800px;
    border-bottom: 1px solid #C0C0C0;
}

#pageMiddleContent {
    vertical-align: top;
}

#pageMiddleContent a {
    color: #56789A;
    text-decoration: none;
    outline: none;
}

#pageMiddleContent a:hover {
    color: #008EE8;
}

#pageMiddleContent .middleLine {
    padding: 5px 15px 15px 10px;
}

#pageMiddleExtra {
    vertical-align: top;
    width: 1px;
}

#pageMiddleSidebar {
    width: 350px;
    vertical-align: top;
    background: #F0F0F0;
    border-right: 1px solid #A0A0A0;
}

#pageMiddleSidebar .menuDivContainer {
    margin: 15px;
}

#pageMiddleSidebar .menuDivContainer .nav {
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    background: #FFFFFF;
    padding: 10px 15px 15px 15px;
}

#pageMiddleSidebarToggle {
    width: 20px;
    font-size: 14pt;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

#pageMiddleSidebarToggle:hover {
    background-color: #F0F0F0;
}

#push {
    height: 50px;
}

#footer {
    height: 49px;
    clear: both;
    width: 100%;
}

#footer .container-fluid {
    color: #404040;
    padding: 10px;
    margin: 0px 20px 0px 20px;
}

#crudTable {
    border-collapse: collapse;
    margin: 20px 0 0 0;
    width: 100%;
}

#crudTable td {
    padding: 4px;
}

#crudInnerTable {
    border-collapse: collapse;
}

#crudInnerTable td {
    padding: 4px;
}

.tableHeader {
    background: #E0E0E0;
    border-top: 2px solid #B0B0B0;
    padding: 4px 4px 4px 12px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 2px 2px rgba(50, 50, 50, .3);
    text-align: left;
}

.tablesorter {
    border-collapse: separate;
    border-spacing: 1px;
}

.tablesorter tr:last-child {
    /* white-space: nowrap; */
}

#tablepager img {
    cursor: pointer;
}

#tablepager {
    margin: 20px 0 0 0;
    position: relative !important;
    top: 0 !important;
}

/* Icons */
.iconcategory {
    background: transparent url('scabbia/panel/images/category.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconcategoryadd {
    background: transparent url('scabbia/panel/images/category_add.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconcategoryedit {
    background: transparent url('scabbia/panel/images/category_edit.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconcategorydelete {
    background: transparent url('scabbia/panel/images/category_delete.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconpost {
    background: transparent url('scabbia/panel/images/post.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconpostadd {
    background: transparent url('scabbia/panel/images/post_add.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconpostedit {
    background: transparent url('scabbia/panel/images/post_edit.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconpostdelete {
    background: transparent url('scabbia/panel/images/post_delete.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconpage {
    background: transparent url('scabbia/panel/images/page.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconpageadd {
    background: transparent url('scabbia/panel/images/page_add.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconpageedit {
    background: transparent url('scabbia/panel/images/page_edit.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconpagedelete {
    background: transparent url('scabbia/panel/images/page_delete.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconlink {
    background: transparent url('scabbia/panel/images/link.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconlinkadd {
    background: transparent url('scabbia/panel/images/link_add.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconlinkedit {
    background: transparent url('scabbia/panel/images/link_edit.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconlinkdelete {
    background: transparent url('scabbia/panel/images/link_delete.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconfile {
    background: transparent url('scabbia/panel/images/file.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconfileadd {
    background: transparent url('scabbia/panel/images/file_add.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconfileedit {
    background: transparent url('scabbia/panel/images/file_edit.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconfiledelete {
    background: transparent url('scabbia/panel/images/file_delete.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconuser {
    background: transparent url('scabbia/panel/images/user.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconuseradd {
    background: transparent url('scabbia/panel/images/user_add.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconuseredit {
    background: transparent url('scabbia/panel/images/user_edit.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconuserdelete {
    background: transparent url('scabbia/panel/images/user_delete.png') 0 2px no-repeat;
    padding-left: 20px;
}

.iconxdashboard {
    background: transparent url('scabbia/panel/images/iconxdashboard.png') 0 4px no-repeat;
    padding: 0 0 0 40px;
    border-bottom: 1px solid #E0E0E0;
}

.iconxcategories {
    background: transparent url('scabbia/panel/images/iconxcategories.png') 0 4px no-repeat;
    padding: 0 0 0 40px;
    border-bottom: 1px solid #E0E0E0;
}

.iconxposts {
    background: transparent url('scabbia/panel/images/iconxposts.png') 0 4px no-repeat;
    padding: 0 0 0 40px;
    border-bottom: 1px solid #E0E0E0;
}

.iconxpages {
    background: transparent url('scabbia/panel/images/iconxpages.png') 0 4px no-repeat;
    padding: 0 0 0 40px;
    border-bottom: 1px solid #E0E0E0;
}

.iconxlinks {
    background: transparent url('scabbia/panel/images/iconxlinks.png') 0 4px no-repeat;
    padding: 0 0 0 40px;
    border-bottom: 1px solid #E0E0E0;
}

.iconxfiles {
    background: transparent url('scabbia/panel/images/iconxfiles.png') 0 4px no-repeat;
    padding: 0 0 0 40px;
    border-bottom: 1px solid #E0E0E0;
}

.iconxcontent {
    background: transparent url('scabbia/panel/images/iconxcontent.png') 0 4px no-repeat;
    padding: 0 0 0 40px;
    border-bottom: 1px solid #E0E0E0;
}