	</div>

	<a href="#" id="profilerToggle">Show Profiler Information</a>
	<div id="profilerExport" style="display: none;">
		generated in @number_format(microtime(true) - QTIME_INIT, 5) msec.

		@profiler::export();
	</div>

	<script type="text/javascript">
		$l.contentEnd();
	</script>
</body>
</html>
