<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Scabbia Framework</title>
	<link href="@$root/res/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
