@html::doctype('html5')
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
	<meta charset="utf-8" />

	<title>Scabbia Framework</title>

	<link type="text/css" href="@$root/reppackage/styles.main?jqueryui,map" rel="stylesheet" media="all" />
	<script type="text/javascript" src="@$root/reppackage/javascripts?jqueryui,map"></script>

	<script type="text/javascript">
	$l.ready(function() {
		$('#profilerToggle').click(function() {
			$('#profilerExport').show();
			return false;
		});
	});
	</script>
</head>
<body>
	<script type="text/javascript">
		$l.contentBegin('main', '@framework::$siteroot');
	</script>
	<div class="wrapper">
